---
import Game from "../Game.svelte";
import "@fontsource/pixelify-sans";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body class="w-full h-full p-4">
		<Game client:load />
		<style is:global>
			body,html {
  				font-family: "Pixelify Sans";
				min-width: 100vw;
				min-height: 100vh;
				background-image: url("/assets/background.png"), url("/assets/background2.png");
			}
		</style>
	</body>
</html>
